body {
  margin: 0;
  font-family: georgia;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('assets/wood.jpg'); */
  background-color: rgb(7, 50, 61);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: rgb(38, 133, 221);
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
  outline-style: none;
}